@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.header {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    padding: 2vw;
    position: fixed;
}

.header>a {
    font-size: 3.7vw;
    margin-left: 3vw;
    text-decoration: none;
    color: black;
    z-index: 9;
}

.header>a:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* -------------------- */
body {
    width: 100%;
    overflow-x: hidden;
    font-family: "Pretendard";
    background-color: rgb(255, 255, 255);
    -webkit-animation: fadein 2.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body::-webkit-scrollbar {
    width: 0.6vw;
    /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    height: 30%;
    /* 스크롤바의 길이 */
    background: #5666af;
    /* 스크롤바의 색상 */

    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);
    /*스크롤바 뒷 배경 색상*/
}

.download {
  margin-top: -6.5vw;
  position: fixed;
  display: flex;
  margin-left: 90vw;
}

.download>a {
    text-decoration: none;
    font-size: 1vw;
    text-align: center;
    font-weight: 600;
    color: #000000;
}

resume-icon {
  font-size: 2vw;
}

.download>a:hover {
    cursor: pointer;
    transition: 0.1s ease-in-out;
    z-index: 10;
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
    opacity: 60%;
}

.resume-img {
    margin: auto;
    text-align: center;
    margin-top: 5vw;
    margin-bottom: 3vw;
    image-rendering: optimizeQuality;
}

@-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }

  .about-wrap {
    width: 95%;
    display: flex;
    margin-bottom: 5vw;
  }

  .about-info {
    width: 30%;
    margin-top: 10vw;
    margin-left: 5vw;
    font-size: 1.5vw;
    line-height: 2vw;
  }

  copy-right {
    font-size: 0.8vw;
    color: rgb(81, 81, 81);
  }

  .about {
    width: 35%;
    height: auto;
    font-size: 1vw;
    margin-top: 4vw;
    line-height: 1.3vw;
    margin-left: 5vw;
  }

  about-name {
    text-decoration: underline;
    background-color: aquamarine;
  }

  .experience {
    width: 100%;
    font-size: 0.9vw;
    margin-left: 5vw;
    line-height: 1.8vw;
    margin-top: 5vw;
  }
  experience-h, interview-h {
    font-size: 1.2vw;
    text-decoration: underline;
  }

  .interview{
    width: 38%;
    font-size: 0.9vw;
    margin-top: 5vw;
    line-height: 1.5vw;
    margin-top: 5vw;
    margin-left: -50vw;
  }
